@font-face {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  font-weight: 700;
  font-style: normal;
  src:
    url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff');
  font-display: swap;
}