body {
  line-height: 1.65;
  @extend %SSP-400;
  font-size: 16px;
  color: #454545;
}

.button {
  font-size: 12px;
  font-weight: 700;
  width: 136px;
  height: 102%;
  background-color: #357fd6;
  color: #fff;
  transition: all .3s;
  border-radius: 0 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.container{
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  padding: 0 15px;
}
.swiper-container {
 
  .swiper-button-prev,
  .swiper-button-next{
    display: none;
  }
}