%Gilroy-700 {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
}
%SSP-400 {
  font-family: 'SourceSansPro-Regular';
  font-weight: 400;
}
%more-btn{
  width: 100%;
  color: #fff;
  padding: 10px;
  border: 1px solid #000;
  background-color: #000;
  text-align: center;
  border-radius: 4px;
  font-size: 10px;
  letter-spacing: 1px;
  @extend %Gilroy-700;
}
%btn{
   font-size: 12px;
   font-weight: 700;
   width: 136px;
   height: 102%;
   background-color: #357fd6;
   color: #fff;
   transition: all .3s;
   border-radius: 0 4px 4px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   cursor: pointer;
   outline: transparent;
}
%price__item{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px dashed #979797;
  padding-top: 9px;
  padding-bottom: 5px;
  align-items: center;
  color: #000;
  text-decoration: none;
}
%english{
   padding: 2px 10px;
   border-radius: 4px;
   background-color: #4a90e2;
   color: #fff;
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 1px;
   @extend %Gilroy-700;
   text-align: end;
}
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}x(#{$numbers});
}