@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'libs';



.header {
  max-height: 100vh;
  background: url('../video/video-bg.png') center no-repeat;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .video {
    padding-bottom: 56.25%;
    height: 100vh;

    &__media {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100vh;
      width: auto;
      height: auto;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 32px;
    padding-bottom: 82px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    display: flex;
    align-self: flex-start;
  }

  &__logo-mob {
    width: 74px;
    height: 50px;
    object-fit: cover;
  }

  &__mid-l {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    height: 180px;
    color: #fff5ed;
    font-size: 12px;
    @extend %Gilroy-700;
    width: 16px;
  }

  &__l-line {
    display: block;
    width: 2px;
    height: 74px;
    background-color: #fff5ed;
  }

  &__l-item {
    transform: rotate(90deg);
  }

  &__form {
    border-radius: 4px 6px 6px 4px;
    display: flex;
    max-width: 360px;
    width: 100%;
    height: 52px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .04);
    background-color: #fff;

    span {
      @extend %SSP-400;
      font-size: 16px;
      width: 49px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid #dfdfdf;
    }
  }

  &__form-input {
    outline: none;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    width: 100%;
    max-width: 175px;
  }

  &__title {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #fff;
    @extend %Gilroy-700;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
  }

  &__mid-logo {
    margin: 0 auto;
  }

  &__mid-r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 16px;

    a {
      @extend %Gilroy-700;
      transform: rotate(90deg);
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  &__bottom {
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

    }

    &-l {
      color: #fff;
      width: 40%;
    }

  }

  &__location-wrapper {
    display: flex;
    z-index: 99;

  }

  &__bottom-phone {
    position: relative;
    display: inline-flex;
    color: #fff;
    margin-bottom: 25px;
    @extend %Gilroy-700;
  }

  &__location {
    position: relative;

    &+& {
      margin-left: 24px;
    }
  }

  &__map-link {
    display: block;
    color: #fff;
  }

  &__bottom-img {
    margin-bottom: 10px;
  }

  &__bottom-phone::before,
  &__location::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #c7a081;
    top: -8px;
    left: 0;
    z-index: 99;
  }

  &__bottom-c {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 20%;
  }

  &__bottom-r {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__bottom-inst {
    display: block;
    color: #fff;

    text-align: end;
  }

  &__bottom-eng {
    @extend %english;
  }
}

.menu {
  z-index: 1000;
  position: relative;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__location {
    display: none;
  }

  &__item {
    margin-left: 32px;
  }

  &__link {
    text-transform: uppercase;
    @extend %Gilroy-700;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
  }

  &__btn,
  &__item-b,
  &__phone,
    {
    display: none;
    color: #c7a081;

    a {

      color: #c7a081;
    }

  }
}
.form-success{
  padding: 40px 16px 38px;
  &__inner{
    background-color: #fff;
    max-width: 343px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  &__title{
    padding-top: 16px;
    color: #000;
    font-size: 26px;
    @extend %Gilroy-700;
    line-height: 39px;
    padding-bottom: 5px;
  }
  &__subtitle{
        font-size: 16px;
        line-height: 26px;
        font-family: "Source Sans Pro",
        sans-serif;
        text-align: center;
        padding-bottom: 16px;
  }
  &__btn{
    border-radius: 4px;
    outline: transparent;
    border: 2px solid #c7a081;
    background-color: #c7a081;
    width: 100%;
    color: #fff;
    font-size: 12px;
    @extend %Gilroy-700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 16px;
  }
  &__lk{
        font-family: "Source Sans Pro",
        sans-serif;
        font-size: 16px;
        line-height: 26px;
        padding-top: 8px;
        a{
              color: #357fd6;
        }
  }
}
.fixed {
  position: fixed;
  margin: 0 auto;
  background-color: #000;
  right: 0;
  left: 0;
  top: 0px;
  z-index: 1000;
  padding: 20px;

  .menu__link {
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;

    &:hover {
      border-bottom: 1px solid #c7a081;
    }
  }
}

.active {
  display: block;
  border-radius: 4px;
  background-color: #c7a081;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 36px;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;

  a {
    color: #fff;
  }
}

.hello {
  margin-bottom: 16px;
  position: relative;
  margin-top: -60px;
  z-index: 2;

  &__top {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
  }

  &__item {
    border-radius: 8px;
    background-color: #fff5ed;
    width: 273px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    padding-top: 80px;
    position: relative;

    &-title {
      color: #000;
      @extend %Gilroy-700;
      font-size: 28px;

      
      &::before {
        position: absolute;
        content: "";
        width: 64px;
        height: 52px;
        top: 20px;
      }

      &--sale::before {
        background-image: url('../images/hello/gloves.svg');
        top: 24px;
      }

      &--cashback::before {
        background-image: url('../images/hello/pers.svg');
        width: 62px;
        height: 64px;
      }


    }
    &-text {
      margin-bottom: 5px;
    }

    &-btn {
      cursor: pointer;
      @extend %more-btn;
    }


  }

  &__sale {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    border-radius: 8px;
    background-color: #fff5ed;
    border: 1px solid #c7a081;
    padding: 10px;
    padding-right: 30px;
    margin-top: 10px;
    max-width: 227px;
    color: #000;
    @extend %Gilroy-700;

    &-new {
      color: #c7a081;
      text-decoration: line-through;
      text-decoration-color: #c7a081;
    }

    &-value {
      display: flex;
      flex-direction: column;
    }
  }

  &__img-box {
    border-radius: 8px;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    max-height: 379px;
    height: 100%;
  }
}

.models {
  margin-bottom: 16px;

  // &__inner {
  //   display: flex;

  // }
}

.model {

  &__img {
    object-fit: cover;
    height: 371px;
    width: 273px;
    margin: 0 auto;
  }
}

// .model+.model {
//   margin-left: 15px;
// }

.more {
  margin-bottom: 60px;

  &__inner {
    display: flex;
    max-width: 100%;
    width: 100%;
  }

  &__content {
    width: 273px;
    height: 100%;

    &-img {
      height: 64px;
    }

    &-inner {
      border-radius: 8px;
      background-color: #fff5ed;
      padding: 24px;
      padding-bottom: 10px;
      width: 266px;
    }

    &-text {
      color: #000;
      font-size: 26px;
      @extend %Gilroy-700;
      margin-bottom: 23px;
      line-height: 1.2;
    }

    &-link {
      position: relative;
      padding-left: 30px;
      text-transform: uppercase;
      @extend %Gilroy-700;
      color: #000;
      transition: all 0.3s;

      &:hover {
        color: #357fd6;

        svg {
          path {
            fill: #357fd6;
          }
        }
      }
    }
  }

  &__signup {
    display: block;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #357fd6;
    width: 100%;
    color: #fff;
    font-family: gilroy,
      sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px 0px;
    text-align: center;
  }

  &__img-box {
    margin-right: 16px;
  }

  &__img {
    object-fit: cover;
    width: 851px;
    border-radius: 10px;
    height: 382px;
  }

  &__link {
    position: relative;
    margin-top: -50px;
    display: block;
    width: 230px;
    margin-left: 30px;
    padding: 10px 0;
    padding-right: 30px;
    border: 1px solid #000;
    background-color: #000;
    text-align: center;
    border-radius: 4px;
    font-size: 10px;
    letter-spacing: 1px;
    @extend %Gilroy-700;
    color: #fff;

    &-img {
      position: absolute;
      display: block;
      transform: translateY(-50%);
      top: 50%;
      right: 30px;
      transition: all 0.3s;
    }

    &:hover {
      .more__link-img {
        right: 20px;
      }
    }
  }
}

.popup {
  border-radius: 8px;
  background-color: #fff;
  width: 391px;
  padding: 24px;
  position: relative;

  &__header {
    margin-bottom: 12px;
  }

  &__block {
    margin-bottom: 20px;
  }

  &__title {
    color: #000;
    @extend %Gilroy-700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  &__text {
    color: #454545;
    @extend %SSP-400;
    font-size: 14px;
    line-height: 24px;
  }
}

.price {
  margin-bottom: 60px;

  .container {
    padding: 0px;
  }

  &__title {
    padding-bottom: 14px;
    border-bottom: 1px solid #e5e5e5;
    color: #000;
    @extend %Gilroy-700;
    font-size: 50px;
    margin-left: 15px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    margin-top: 25px;
  }

  &__column,
  &__content {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding: 0px 15px;
  }

  // &__column--center{
  //   padding: 0px 17px;
  // }
  &__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__card-title {
    color: #000;
    @extend %Gilroy-700;
    font-size: 22px;
  }

  &__card-payinfo {
    padding-right: 28px;
    background-image: url('../images/price/card-icon.svg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: center;
  }

  &__item {
    @extend %price__item;

    &:hover {
      .price__item-title {
        background-color: #000;
        color: #fff
      }
    }
  }

  &__item--first {
    background-color: #fff5ed;
    border-left: 4px solid #393939;
    padding-left: 10px;
    padding-bottom: 9px;
    padding-right: 5px;
  }

  &__item-title {
    transition: all 0.3s;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    max-width: 217px;
  }

  &__item-time {
    padding-right: 3px;
    color: #979797;
    font-size: 14px;
  }

  &__item-value {
    @extend %Gilroy-700;
    color: #161616;
    font-size: 18px;
  }

  &__item--active {
    .price__item-title {
      background-color: #000;
      color: #fff
    }
  }

  &__content-item {
    display: none;

    &.price__content-item--active {
      display: block;
    }
  }

  &__item-combo {
    @extend %price__item;
    cursor: auto;
  }

  &__card-sale,
  &__item-old {
    color: #c7a081;
    @extend %Gilroy-700;
  }

  &__item-old {
    text-decoration: line-through;
  }

  &__content-item {
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
  }

  &__content-inner {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__content-img {
    object-fit: cover;
    width: 550px;
    height: 320px;
  }

  &__content-title {
    color: #000;
    font-size: 26px;
    @extend %Gilroy-700;
    margin-bottom: 2px;
    line-height: 1.2;
  }

  &__content-text {
    font-size: 14px;
  }
}

.team-bg {
  background-image: url('../images/team/bg.jpg');
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__top {
    display: none;
  }

  .team__card {
    display: none;
  }
}

.team {
  background-color: #080b10;
  color: #fff5ed;
  padding: 64px 0;

  &__title,
  &__text {
    text-align: center;
  }

  &__title {
    font-size: 50px;
    @extend %Gilroy-700;
  }

  &__text {
    max-width: 783px;
    font-size: 20px;
    margin: 0 auto 25px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    display: flex;
    background-color: #222;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .04);

    &+& {
      margin-top: 32px;
    }
  }

  &__img {
    object-fit: cover;
    width: 179px;
    height: 191px;
  }

  &__img-dev {
    object-fit: cover;
    width: 263px;
    height: 487px;
  }

  &__card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;

    &--quote {
      padding-top: 80px;
    }
  }

  &__card-position {
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/team/quote.svg');
      background-repeat: no-repeat;
      width: 63px;
      height: 50px;
      top: -52px;
      left: 0px;
    }
  }

  &__card-mail {
    color: #c7a081;
    font-size: 18px;
    padding-bottom: 12px;
    transition: all .3s;
    border-bottom: 1px solid #454545;
    margin-bottom: 8px;
  }

  &__card-title {
    font-size: 26px;
    @extend %Gilroy-700;
  }

  &__card-text {
    font-size: 14px;
    margin-bottom: 15px;
  }

  &__card-link {
    color: #c7a081;
    font-size: 10px;
    padding-left: 18px;
    background-image: url('../images/team/play-icon.svg');
    background-position-x: 0%;
    background-position-y: center;
    background-repeat: no-repeat;
    display: flex;
    justify-self: flex-end;
  }

  &__column {
    flex-basis: 50%;
    margin: 0px -20px;

    &+& {
      margin-left: 30px;
    }
  }

  &__more {
    position: relative;
    font-size: 20px;
    padding: 85px 131px 0 60px;


    &-link {
      font-size: 20px;
      color: #c7a081;
      border-bottom: 1px solid #c7a081;
    }
  }
}

.reviews {
  padding: 64px 0;

  &__title {
    @extend %Gilroy-700;
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
  }

  &__link {
    display: flex;
    justify-content: center;

    img {
      margin-right: 6px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .card {
    max-width: 273px;
    width: 100%;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .08);
    border-radius: 8px;
    margin-right: 16px;

    &__top {
      display: flex;
      align-items: center;
      padding: 16px;

      span {
        display: block;
        line-height: 1.3;
      }

      &-nick {
        color: #161616;
        @extend %Gilroy-700;
        font-size: 16px;
      }

      &-loca {
        font-size: 12px;
      }
    }

    &__top-img {
      object-fit: cover;
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }

    &__img {
      object-fit: cover;
      width: 273px;
      height: 272px;
    }

    &__content {
      padding: 12px;

      &-nick {
        @extend %Gilroy-700;
      }

      &-text {
        font-size: 12px;
      }

      &-likes {
        position: relative;
        display: block;
        font-size: 14px;
        padding-left: 23px;

        &::before {
          position: absolute;
          content: "";
          background-image: url('../images/reviews/like.svg');
          background-repeat: no-repeat;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 19px;
          height: 17px;
        }
      }

      &-link {
        color: #357fd6;
      }
    }
  }
}

.gift {
  margin-bottom: 64px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  &__img-cosmetic {
    object-fit: cover;
    width: 540px;
    height: 323px;
  }

  &__item {
    padding: 50px;
    padding-right: 60px;
  }

  &__title {
    color: #000;
    font-size: 36px;
    margin-bottom: 16px;
    @extend %Gilroy-700;
    line-height: 1.3;
  }

  &__text {
    max-width: 360px;
    font-size: 18px;
  }

  &__img {
    width: 540px;
    height: 295px;
    object-fit: cover;
  }

  &__list {
    margin: 24px 0px;
  }

  &__list-item {
    border-bottom: 1px dashed #979797;
    padding-top: 9px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    color: #000;
  }

  &__list-price {
    @extend %Gilroy-700;
  }

  &__list-link {
    display: block;
    color: #454545;
    text-transform: uppercase;
    font-size: 12px;
    @extend %Gilroy-700;
    letter-spacing: 1px;
    border-radius: 4px;
    border: 2px solid #c7a081;
    padding-top: 16px;
    padding-bottom: 14px;
    text-align: center;
    width: 100%;
    max-width: 360px;
    transition: all 0.3s;

    &:hover {
      background-color: #c7a081;
      color: #fff;
    }
  }

  &__img-box {
    position: relative;
  }

  &__link-video {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 15px;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    left: 205px;
    max-width: 230px;
    transform: translateX(-50%);
    border-radius: 4px;
    background-color: #c7a081;
    color: #fff;
    font-size: 10px;
    @extend %Gilroy-700;
    letter-spacing: 1px;
    transition: all .3s;
    line-height: 1;
    padding: 15px;
    padding-left: 30px;
    background-image: url('../images/gift/play-icon.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5%;
  }
}

.contacts {

  &__inner {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .04);
    border-radius: 4px;
    border: 1px solid #ededed;
    background-color: #fff;
    align-items: center;
  }

  &__messengers {
    &-title {
      font-size: 22px;
      @extend %Gilroy-700;
      margin-bottom: 14px;
    }

    &-img {
      margin-right: 4px;
    }
  }

  &__link-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    max-width: 145px;
    width: 100%;
    margin-bottom: 9px;
    @extend %Gilroy-700;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;

    &--fb {
      background-color: #317cfe;
    }

    &--vk {
      background-color: #617fb2;
    }

    &--tg {
      background-color: #41a2df;
    }

    &--wa {
      background-color: #19c258;
    }
  }
}

.contacts-content {
  padding: 0 32px;

  &__title,
  &__address-title,
  &__parking,
  &__contacts-title,
  &__time-title,
    {
    @extend %Gilroy-700;
  }

  &__title {
    padding-top: 16px;
    font-size: 36px;
  }

  &__address-title {
    color: #393939;
    font-size: 12px;
    margin-bottom: 10px;

  }

  &__location {
    color: #357fd6;
  }

  &__parking {
    display: flex;
    justify-content: space-between;

    a {
      display: block;
      color: #454545;
      font-size: 10px;
      letter-spacing: 1px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 4px;
      padding-left: 8px;
      padding-right: 8px;
      border: 1px solid #c7a081;
      margin: 10px 0;
      transition: all 0.3s;

      &:hover {
        background-color: #c7a081;
        color: #fff;
      }
    }
  }

  &__freep {
    span {
      @extend %Gilroy-700;
    }

    width: 100%;
    background-color: #fff5ed;
    padding: 12px 16px;
    border-radius: 4px;
    border-left: 3px solid #000;
    margin-top: 12px;
    font-size: 14px;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    &-title {
      font-size: 12px;
    }
  }

  &__phone {
    color: #454545;
  }

  &__mail {
    color: #357fd6;
  }

  &__time {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 16px;
    margin-bottom: 16px;

  }
}

.footer {

  &__top {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 0px;
    }

    .menu-f {
      &__list {
        display: flex;
        flex-wrap: wrap;
      }

      .menu__item {
        margin-left: 15px;
      }

      .menu__link {
        color: #454545;
      }
    }
  }

  &__contact {
    color: #357fd6;
    border-bottom: 1px solid #e5f1ff;
    margin-right: 8px;
  }

  &__img {
    display: flex;
    align-self: start;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 20px;
  }

  &__bottom-eng {
    @extend %english;
  }

  &__copy {
    span:first-child {
      color: #979797;
    }

    span:last-child {
      padding-left: 11px;
      color: #393939;
      font-size: 20px;
      @extend %Gilroy-700;
    }
  }
}

@import "media";